// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #454545;
}

#title {
  width: 960px;
  height: 200px;
  font-family: calluna;
}

#donation_bar {
  width: 940px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}