// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #454545;
}

a {
  text-decoration: none;
}

.alert-message p {
  font-family: dejarip, sans-serif;
  font-weight: 700;
  margin: 5px;
}

#donate_flag {
  position: fixed;
  left: 0px;
  top: 300px;
}

#container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  width: 960px;
  height: 200px;
  font-family: calluna;
}

#title h2 {
    font-size: 93px;
    margin-bottom: 0;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

#title h1 {
    font-size: 140px;
    width: 100%;
    text-align: center;
    padding-top: 0;
    margin-top: -30px;
    margin-bottom: 20px;
    color: #ffffff;
}

#title h1 span {
    font-size: 10px;
    color: #666;
}

#donation_bar {
  width: 960px;
  height: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

#new_donation {
  width: 500px;
  background-color: #D8EBDA;
  opacity: 0.95;
  position: relative;
  left: 50%;
  display: none;
  margin-left: -250px;
  top: -90px;
  margin-bottom: 0px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  label {
    text-align: right;
    width: 200px;
    display: block;
    float: left;
    clear: left;
    margin-right: 20px;
    margin-top: 10px;
  }
  input, textarea {
    width: 200px;
    margin-top: 10px;
  }
  input[type=submit] {
    width: 75px;
    position: relative;
    left: 220px;
    display: inline-block;
    margin-bottom: 30px;
  }
  select {
    margin-top: 10px;
  }
  select#card_month {
    width: 120px;
  }
  select#card_year {
    width: 70px;
    margin-left: 15px;
  }
}

#donate_now_tab {
  width: 150px;
  padding-top: 15px;
  height: 35px;
  background-color: #d8e5da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(216, 229, 218)), to(rgb(122, 130, 130)));
  background-image: -webkit-linear-gradient(top, rgb(216, 229, 218), rgb(122, 130, 130));
  background-image: -moz-linear-gradient(top, rgb(216, 229, 218), rgb(122, 130, 130));
  background-image: -o-linear-gradient(top, rgb(216, 229, 218), rgb(122, 130, 130));
  background-image: -ms-linear-gradient(top, rgb(216, 229, 218), rgb(122, 130, 130));
  background-image: linear-gradient(top, rgb(216, 229, 218), rgb(122, 130, 130));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d8e5da', EndColorStr='#7a8282');
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  margin-left: -75px;
  left: 50%;
  margin-top: -90px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  &:hover {
    background-color: #7a8282;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(122, 130, 130)), to(rgb(216, 229, 218)));
    background-image: -webkit-linear-gradient(top, rgb(122, 130, 130), rgb(216, 229, 218));
    background-image: -moz-linear-gradient(top, rgb(122, 130, 130), rgb(216, 229, 218));
    background-image: -o-linear-gradient(top, rgb(122, 130, 130), rgb(216, 229, 218));
    background-image: -ms-linear-gradient(top, rgb(122, 130, 130), rgb(216, 229, 218));
    background-image: linear-gradient(top, rgb(122, 130, 130), rgb(216, 229, 218));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7a8282', EndColorStr='#d8e5da');
    cursor: pointer;
    span {
      text-shadow: 0px -1px 0px #ddd;
      filter: dropshadow(color=#ddd, offx=0, offy=-1);
    }
  }
  span {
    font-family: calluna;
    font-size: 16pt;
    font-weight: bold;
    line-height: 0px;
    text-shadow: 0px 1px 0px #ddd;
    filter: dropshadow(color=#ddd, offx=0, offy=1);
  }
}

article {
  margin-top: 100px;
}

article header {
  font-family: calluna;
  font-size: 100px;
  width: 100%;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #353535;
}

article p {
  padding-left: 40px;
  padding-right: 40px;
  font-family: calluna;
  font-size: 18pt;
  line-height: 1.5em;
  text-align: justify;
  color: #fff;
}

article a {
  color: #aaa;
  text-decoration: none;
  &:hover {
    color: #ccc;
  }
}

article header + * {
  border-top: 1px solid #555;
  margin-top: 0px;
  padding-top: 40px;
}

dl {
  padding-left: 40px;
  padding-right: 40px;
  font-family: calluna;
  line-height: 1.5em;
  color: #fff;
  margin-bottom: 20px;
}

dt {
  font-size: 24pt;
  margin-bottom: 10px;
}

dd {
  font-size: 18pt;
  margin-bottom: 20px;
}