<!DOCTYPE html>
<html>
<head>
  <title>AcrossAmerica</title>
  <script type="text/javascript" src="http://use.typekit.com/sdp0zzw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
